<div id="<%= dom_id employee %>">
  
  <% if employee.profile_picture.present? %>
    <%= image_tag employee.profile_picture %>
  <% end %>

  <p>
    <strong>Full Name:</strong>
    <%= employee.to_label %>
  </p>

  <p>
    <strong>Assigned Devices:</strong>
    <% employee.devices.each do |device| %>
      <li><%= link_to device.name, device_path(device) %></li>
    <% end %>
  </p>

  <p>
    <strong>Assigned Software:</strong>
    <% employee.softwares.each do |software| %>
      <li><%= link_to software.name, software_path(software) %></li>
    <% end %>
  </p>

</div>
