<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= device.manufacturer.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= device.category.name %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= link_to device.employee.to_label, employee_path(device.employee) %>
    
</div>
