<%= simple_form_for device do |form| %>

  <%= form.input :name %>

  <%= form.input :manufacturer %>

  <%= form.input :category %>

  <div>
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
