<%= simple_form_for device do |form| %>

  <%= form.input :name %>

  <%= form.association :manufacturer %>

  <%= form.association :category %>

  <%= form.association :employee, to_label: :first_name %>

  <div>
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
